---
import {apiClient} from "@lib/api/api-client";
import {Project} from "@lib/api/types/content/project";
import GlobalLayout from "../../layouts/GlobalLayout/GlobalLayout.astro";
import {BlogPost} from "../../lib/api/types/content/blog-post";
import ContentHero from "../../components/ContentHero/ContentHero.astro";

export async function getStaticPaths() {
	const blogPosts = await apiClient.getBlogPosts()

	return blogPosts.map((blogPost) => ({
		params: { slug: blogPost.slug },
		props: blogPost,
	}));
}

const blogPost: BlogPost = Astro.props;
---

<GlobalLayout title={blogPost.title}>
		<ContentHero
			title={blogPost.title}
		/>

    <h2>Metadata</h2>
		<ul>
			<li><strong>Update Timestamp:</strong> {blogPost.updatedAt}</li>
			<li><strong>Create Timestamp:</strong> {blogPost.createdAt}</li>
		</ul>

    <h2>Tags</h2>
		<ul>
			{blogPost.tags.map(tag =>
				<li>
					<a href={`/blog/tags/${tag.slug}`}>{tag.text}</a>
				</li>
			)}
		</ul>

	<div class="max-width-container">
		<div class="j-prose" set:html={blogPost.contentHtml} />
	</div>

    <h2>Related</h2>
		<div>
        <h3>Blog Posts</h3>
			<ul>
				{blogPost.relatedBlogPosts.map(relatedBlogPost =>
					<li>
						<a href={`/blog/${relatedBlogPost.slug}`}>{relatedBlogPost.title}</a>
						<p>{relatedBlogPost.description}</p>
					</li>
				)}
			</ul>

			<h3>Projects</h3>
			<ul>
				{blogPost.relatedProjects.map(relatedProject =>
					<li>
						<a href={`/projects/${relatedProject.slug}`}>{relatedProject.name}</a>
						<p>{relatedProject.description}</p>
					</li>
				)}
			</ul>
		</div>
</GlobalLayout>
