---
import {apiClient} from "@lib/api/api-client";
import GlobalLayout from "../../../layouts/GlobalLayout/GlobalLayout.astro";
import {TagWithBlogPosts, TagWithProjects} from "../../../lib/api/types/content/tag";

export async function getStaticPaths() {
	const blogPostTags = await apiClient.getBlogPostTags()

	return blogPostTags.map((tag) => ({
		params: { slug: tag.slug },
		props: {
			currentTag: tag,
      blogPostTags
		},
	}));
}

const currentTag: TagWithBlogPosts = Astro.props.currentTag;
const blogPostTags: TagWithBlogPosts[] = Astro.props.blogPostTags;
---

<GlobalLayout title={`${currentTag.text} | Blog`}>
		<h1>{currentTag.text}</h1>

    <p>Tags:</p>
    <div>
        <ul>
            <li><a href={`/blog`}>All Blog Posts</a></li>
					{blogPostTags.map(tag =>
						<li>
								<a href={`/blog/tags/${tag.slug}`}>{tag.text}</a>
						</li>
					)}
        </ul>
    </div>

    <div>
        <ul>
					{currentTag.blogPosts.map(blogPost =>
                  <li>
                      <a href={`/blog/${blogPost.slug}`}>{blogPost.title}</a>
                      <p>{blogPost.description}</p>
                  </li>
					)}
        </ul>
    </div>
</GlobalLayout>
