---
import "./greeter.css"
import "./social-links.css"

import {GreeterProps} from "./Greeter";

const { contentHtml, socialLinks }: GreeterProps = Astro.props;
---
<div class="max-width-container">
	<div class="greeter">
		<h1 class="greeter__heading">👋 Hello, I'm <span class="greeter__heading-name">Ben Ryder</span></h1>

		<div class="greeter__content j-prose" set:html={contentHtml} />

		<div class="greeter__social">
			<div class="social-links">
				<h2 class="social-links__label">Find me online:</h2>
				<ul class="social-links__list">
					{socialLinks.map(socialLink =>
						<li class="social-links__item">
							<a class="social-links__link" href={socialLink.url} aria-label={socialLink.text}>
								<span class={`social-links__icon icon-${socialLink.iconCode}`} />
							</a>
						</li>
					)}
				</ul>
			</div>
		</div>
	</div>
</div>