---
import "./ContentHero.css"
import type {CollectionEntry} from "astro:content"

export interface ContentMetadata {
	icon: string,
	text: string,
	link?: string
}

type Props = {
	title: string,
	metadata: ContentMetadata[][],
	tags: CollectionEntry<'tags'>,
	tagsBaseUrl: string,
}

const { title, metadata, tags, tagsBaseUrl }: Props = Astro.props;
---

<div class="content-hero">
	<div class="content-hero__basic">
		<h1 class="content-hero__title">{title}</h1>
	</div>

	<div class="content-hero__metadata">
		<div>
			{metadata.map(metadataList =>
				<ul>
					{
						metadataList.map(data =>
							<>
								{data.link
									? <li><span class=`icon icon-${data.icon}`></span><a href={data.link}>{data.text}</a></li>
									: <li><span class=`icon icon-${data.icon}`></span>{data.text}</li>
								}
							</>
						)
					}
				</ul>
			)}
		</div>
	</div>

	<!--<div class="content-hero__tags">-->
	<!--	<ul>-->
	<!--		{tags.map(tag =>-->
	<!--			<li>-->
	<!--					<a href={`${tagsBaseUrl}${tag.id}`} class={`j-pill-link j-pill j-pill&#45;&#45;interactive j-pill&#45;&#45;${tag.data.colour}`}>{tag.data.title}</a>-->
	<!--			</li>-->
	<!--		)}-->
	<!--	</ul>-->
	<!--</div>-->
</div>
