---
import GlobalLayout from '../layouts/GlobalLayout/GlobalLayout.astro';
import {apiClient} from "../lib/api/api-client";
import Greeter from "../components/Greeter/Greeter.astro";

const homepage = await apiClient.getHomepage()
const featuredProjects = await apiClient.getFeaturedProjects()
const featuredBlogPosts = await apiClient.getFeaturedBlogPosts()
---

<GlobalLayout title="Home">
	<Greeter
		heading={homepage.greeterTitle}
		contentHtml={homepage.greeterContentHtml}
		socialLinks={homepage.socialLinks}
	/>

	<div class="container">
		<h2>Projects</h2>
		<ul>
			{featuredProjects.map(project =>
				<li>
					<a href={`/projects/${project.slug}`}>{project.name}</a>
					<p>{project.description}</p>
				</li>
			)}
		</ul>
	</div>

	<div class="container">
		<h2>Blog Posts</h2>
		<ul>
			{featuredBlogPosts.map(blogPost =>
				<li>
					<a href={`/blog/${blogPost.slug}`}>{blogPost.title}</a>
					<p>{blogPost.description}</p>
				</li>
			)}
		</ul>
	</div>

</GlobalLayout>
